<div class="list-group" id="repos">
    <br>
    <a href="/issues?repo={{this.full_name}}&language={{this.language}}" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-light">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{this.name}}</h3>
            <small>{{this.language}}</small>
        </div>
        <p class="mb-1">{{this.description}}</p>
        <small>Donec id elit non mi porta.</small>
    </a>
</div>

