
<nav class="navbar sticky-top navbar-light bg-white">

    <a class="navbar-brand" href="/" style="font-size: 3em" id="projectName">OPNSRC</a>

</nav>

<div class="container" id="header">
    <h1>{{title}}</h1>

    <p class="text">{{subTitle}}</p>




</div>

{{!-- {{container will include a brief paragraph on Why Open Source? }} --}}

<div class="container" id="whyOS">
    {{>whyOS}}
</div>

{{!-- {{form container}} --}}
<div class="container" id="form">

</div>

<div class="container" id="list">
    {{>repos}}
</div>


<div>
    <button type="button" class="btn btn-primary" id="urlSubmit">Test Search API</button>
</div>


{{!-- {{ footer partial can be embedded in all pages}} --}}
{{>footer}}


