
<nav class="navbar sticky-top navbar-light bg-white">

    <a class="navbar-brand" href="/" style="font-size: 3em" id="projectName">OPNSRC</a>

</nav>

<div class="container" id="header">
    <h1>{{title}}</h1>

    <p class="text">{{subTitle}}</p>

    <-- button points to the form -->
    <div>
        <button type="button" class="btn btn-primary" id="formButton">Search Projects</button>
    </div>
    {{>form}}


</div>

<-- container will include a brief paragraph on Why Open Source? -->
<div class="container" id="whyOS">


</div>

<div class="container" id="repos">
    <ul>
        {{#each repos}}
            <li>
                <ul>
                    <li>{{this.full_name}}</li>
                    <li>{{this.description}}</li>
                    <li>{{this.html_url}}</li>
                </ul>
            </li>
        {{/each}}
    </ul>
</div>
<-- footer partial can be embedded in all pages -->
{{>footer}}


